
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
    width: 400px;
    height: 250px;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.rightbox {
    width: 250px;
    height: 250px;
    float: right;
}

.right {
    width: 250px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.right-box {
    width: 250px;
    height: 150px;
}

.left-main {
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}

.right-inner {
    width: 150px;
    height: 150px;
    float: right;
}


.right-upper {
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
}

.right-lower {
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}